@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
  color: var(--text-color);
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: none;
}

a {
  color: lightsalmon;
  text-decoration: unset;
  cursor: pointer;
}

p {
  margin: 10px 0;
  overflow-wrap: break-word;
  text-align: left;
}

label {
  font-size: 16px;
  display: block;
}

button {
  background-color: white;
  color: black;
  border: 2px solid lightgray;
}

input:focus {
  outline: none;
}

select {
  outline: none;
  height: 40px;
}

.col {
  text-align: center;
  color: #054f7c;
  height: 100vh;
  margin: 0px 5px;
  background-color: lightgray;
  width: 100vw;
  border-radius: 20px;
}
